<?php
return [
    'soliant_payment_authnet' => [
        'login' => '',
        'key' => '',
        'mode' => 'sandbox', // (sandbox, production)
        /*
         * Uncomment to define a custom field map
        'service' => [
            'authCaptureTransaction' => [
                'field_map' => [
                    'amount' => 'amount',
                    'trackData' => [
                        'track1' => 'track1',
                        'track2' => 'track2',
                    ],
                    'creditCard' => [
                        'cardNumber' => 'cardNumber',
                        'expirationDate' => 'expirationDate',
                        'cardCode' => 'cardCode',
                    ],
                    'bankAccount' => [
                        'accountNumber' => 'accountNumber',
                        'routingNumber' => 'routingNumber',
                        'nameOnAccount' => 'nameOnAccount',
                        'accountType' => 'accountType',
                        'echeckType' => 'echeckType',
                        'checkNumber' => 'checkNumber',
                        'bankName' => 'bankName',
                    ],
                    'profile' => [
                        'createProfile' => 'createProfile', // boolean
                    ],
                    'solution' => [
                        'id' => 'id',
                    ],
                    'order' => [
                        'invoiceNumber' => 'invoiceNumber',
                        'description' => 'description',
                    ],
                    'lineItems' => [
                        'itemId' => 'itemId',
                        'name' => 'name',
                        'description' => 'description',
                        'quantity' => 'quantity',
                        'unitPrice' => 'unitPrice',
                        'taxable' => 'taxable',
                    ],
                    'tax' => [
                        'amount' => 'amount',
                        'name' => 'name',
                        'description' => 'description',
                    ],
                    'duty' => [
                        'amount' => 'amount',
                        'name' => 'name',
                        'description' => 'description',
                    ],
                    'shipping' => [
                        'amount' => 'amount',
                        'name' => 'name',
                        'description' => 'description',
                    ],
                    'taxExempt' => 'taxExempt',
                    'poNumber' => 'poNumber',
                    'customer' => [
                        'type' => 'type', // (individual, business)
                        'id' => 'id',
                        'email' => 'email',
                    ],
                    'billTo' => [
                        'firstName' => 'firstName',
                        'lastName' => 'lastName',
                        'company' => 'company',
                        'address' => 'address',
                        'city' => 'city',
                        'state' => 'state',
                        'zip' => 'zip',
                        'country' => 'country',
                        'phoneNumber' => 'phoneNumber',
                        'faxNumber' => 'faxNumber',
                        'email' => 'email'
                    ],
                    'shipTo' => [
                        'firstName' => 'firstName',
                        'lastName' => 'lastName',
                        'company' => 'company',
                        'address' => 'address',
                        'city' => 'city',
                        'state' => 'state',
                        'zip' => 'zip',
                        'country' => 'country',
                    ],
                    'employeeId' => 'employeeId',
                    'customerIP' => 'customerIP',
                    'cardholderAuthentication' => [
                        'authenticationIndicator' => 'authenticationIndicator',
                        'cardholderAuthenticationValue' => 'cardholderAuthenticationValue',
                    ],
                    'retail' => [
                        'marketType' => 'marketType',
                        'deviceType' => 'deviceType',
                    ],
                    'transactionSettings' => [
                        'settingName' => 'settingName',
                        'settingValue' => 'settingValue',
                    ],
                    'userFields' => [
                        'name' => 'name',
                        'value' => 'value',
                    ],
                ],
            ],
        ],
        */
    ],
];