<?php
return [
    'soliant_payment_authnet' => [
        'login' => '',
        'key' => '',
        'mode' => 'sandbox', // (sandbox, production)
        /*
         * Uncomment to define a custom field map
        'service' => [
            'authorizationAndCapture' => [
                'field_map' => [
                    'paymentType' => 'paymentType', // (eCheck, creditCard)
                    'cardNumber' => 'cardNumber',
                    'expirationDate' => 'expirationDate',
                    'amount' => 'amount',
                    'billTo' => [
                        'firstName' => 'firstName',
                        'lastName' => 'lastName',
                        'company' => 'company',
                        'address' => 'address',
                        'city' => 'city',
                        'state' => 'state',
                        'zip' => 'zip',
                        'country' => 'country',
                        'phoneNumber' => 'phoneNumber',
                        'faxNumber' => 'faxNumber',
                        'email' => 'email',
                    ],
                ],
            ],
        ],
        */
    ],
];